<!DOCTYPE html>
<html>

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-box-body">
  <%= nested_form_for (@incident),html: {id: "contact"} do |f|%>
    <h4><td><%= f.select :school_id, options_for_select_school %></td></h4>
    <h4>Incident Reporting Page</h4>
    <h4>Describe Issue/Incident</h4>
    <%= f.text_area :details, tabindex: "5", placeholder: "Write something here..." %>    
    
    <table id="tasks">
      <%= f.fields_for :images do |a| %>
        <tr class="fields">
          <td><%= a.file_field :file %></td>
          <td><%= a.link_to_remove "Remove" %></td>
        </tr>
      <% end %>
    </table>
    <p><%= f.link_to_add "Add Photo", :images, class: "btn btn-primary" %></p>
   
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    
    <p><a href="/incidents/new" target="_blank" >Submit Detailed Report</a></p>
  <%end%>
</div>
</div>
</body>
</html>